h1{
  color: red;
  text-align: center;
}

h2{
  font-size: italic;
  text-align: center;
}

p{
  font-family: sans-serif;
}

ul{
  font-size: 20px;
  line-height: 30px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}